.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border: 2px solid #FF00FF;
  border-collapse: collapse;
  border-radius: 3px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table th {
  background-color: #FF00FF;
  color: rgba(255,255,255,0.75);
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

td {
  background-color: #f9f9f9;
}

table th, table td {
  padding: .625em;
  text-align: center;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    width: 90%;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border: 2px solid #FF00FF;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 30%;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.root > button {
  margin: 15px;
}
