<div class="root">
  <h2>Artists</h2>
  <input type="text" placeholder="Search by artist name" (input)="filterArtists($event.target.value)" />
  <table>
    <thead>
      <tr>
        <th>Native name</th>
        <th>Romanized name</th>
        <th>Country</th>
        <th>Albums</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artist of artists">
        <td data-label="Native name">{{ artist.nameNative }}</td>
        <td data-label="Romanized name">{{ artist.nameRomanized }}</td>
        <td data-label="Country">{{ artist.country.name }}</td>
        <td data-label="Albums">
          <button (click)="viewAlbums(artist)">{{ artist.albums.length }} albums</button>
        </td>
        <td data-label="Actions">
          <button (click)="updateArtist(artist)">Edit</button>
          <button (click)="deleteArtist(artist)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="createArtist()">Add</button>
</div>
